<!--header-->
<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/"><h1>Justin</h1></a>
        </div>
        <nav>
            <a href="/" class="menu">HOME</a>
            <div class="menu">SERVICE</div>
            <div class="menu">EXPERTISES</div>
            <div class="menu">WORKS</div>
            <a href="/blog" class="menu">BLOG</a>
            <div class="menu">CONTACT</div>
        </nav>
        <div class="screen"></div>

        <div class="btn-menu">
            <i class="fa fa-bars"></i>
        </div>
    </div>

</header>
