<!--header-->
<header class="header">
    <div class="container">
        <div class="main-header">
            <H1>Justin</H1>
            <nav>
                <ul>
                    <li class="is_active">HOME</li>
                    <li>SERVICE</li>
                    <li>EXPERTISES</li>
                    <li>WORKS</li>
                    <li>BLOG</li>
                    <li>CONTACT</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
