.header {
    position: fixed;
    width: 100%;
    transform: translateY(-120%);
    background: #fff;
    height: 80px;
    box-shadow: 0 2px 15px rgba(0,0,0, 0.2);
    .show-header & {
    }
    .container {
        .main-header {
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                font-size: 2em;
            }
            nav {
                ul {
                    display: flex;
                    li {
                        padding: 15px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}