<!doctype html>
<html lang="en">
<head>
    <%- include components/head %>
</head>
<body>
    <div id="wrap">
        <%- include components/header %>
        <br>
        <%= title%>

        <div>
            <a href="/blog/detail">
            <h2>나만의 전략</h2>
            </a>
        </div>
    </div>
</body>
</html>
