<!doctype html>
<html lang="en">
<head>
    <%- include components/head %>
</head>
<body>
    <%- include components/nav %>
    <div id="wrap">

        <%- include components/header %>

        <!--home-->
        <section class="section section-home">
            <div class="container">
                <div class="black"></div>
                <div class="home-title">
                    <h4>HELLO, I AM</h4>
                    <h1>Justin Lee</h1>
                </div>
            </div>
        </section>
        <!--about-->
        <section class="section section-about">
            <div class="container">
                <div class="about-title">
                    <h2>About Me</h2>
                    <p>
                        Passionate designer & developer who loves simplicity in things and crafts beautiful user interfaces with love.
                    </p>
                    <div class="about-social">
                        <a href="#!"><i class="fa fa-facebook"></i></a>
                        <a href="#!"><i class="fa fa-linkedin"></i></a>
                        <a href="#!"><i class="fa fa-dribbble"></i></a>
                        <a href="#!"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
                <div class="about-cover">
                    <img class="about-cover" src="/public/images/avatar1.jpg" alt="">
                </div>
            </div>
        </section>
        <!--service-->
        <section class="section section-service">
            <div class="container">
                <div class="service-title">
                    <span>WHAT I DO</span>
                    <h2>MY SERVICES</h2>
                    <div class="bar"></div>
                </div>
                <div class="service-contents">
                    <ul>
                        <li>
                            <div class="service-list">
                                <img src="/public/images/services1.jpg" alt="">
                                <span>Graphic Design</span>
                                <div class="screen">
                                    <i class="fa fa-paint-brush"></i>
                                    <h4>Graphic Design</h4>
                                    <p>Modern and mobile-ready website that will help of your marketing.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-list">
                                <img src="/public/images/services2.jpg" alt="">
                                <span>Web Development</span>
                                <div class="screen">
                                    <i class="fas fa-palette"></i>
                                    <h4>Web Development</h4>
                                    <p>Modern and mobile-ready website that will help of your marketing.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-list">
                                <img src="/public/images/services3.jpg" alt="">
                                <span>Media Marketing</span>
                                <div class="screen">
                                    <i class="fa fa-compact"></i>
                                    <h4>Media Marketing</h4>
                                    <p>Modern and mobile-ready website that will help of your marketing.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-list">
                                <img src="/public/images/services4.jpg" alt="">
                                <span>Advetising</span>
                                <div class="screen">
                                    <i class="fa fa-puzzle-piece"></i>
                                    <h4>Advetising</h4>
                                    <p>Modern and mobile-ready website that will help of your marketing.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-list">
                                <img src="/public/images/services5.jpg" alt="">
                                <span>Game Development</span>
                                <div class="screen">
                                    <i class="fa fa-gamepad"></i>
                                    <h4>Game Development</h4>
                                    <p>Modern and mobile-ready website that will help of your marketing.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-list">
                                <img src="/public/images/services6.jpg" alt="">
                                <span>Analytics</span>
                                <div class="screen">
                                    <i class="fa fa-chart-bar"></i>
                                    <h4>Analytics</h4>
                                    <p>Modern and mobile-ready website that will help of your marketing.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--resume-->
        <section class="section section-resume">
            <div class="container">
                <div class="resume-title">
                    <span>MY RESUME</span>
                    <h2>MY EXPERTISES</h2>
                    <div class="bar"></div>
                </div>
                <div class="resume-contents">
                    <div class="resume-experience">
                        <h3>My Experience</h3>
                        <ul>
                            <li>
                                <h4>Senior Architect</h4>
                                <span class="desc">
                                    2015 - Presense | Google
                                </span>
                                <p>Collaborate with creative and development teams on the execution of ideas.</p>
                            </li>
                            <li>
                                <h4>Front-end Developer</h4>
                                <span class="desc">
                                    2013 - 2015 | Facebook Inc.
                                </span>
                                <p>Collaborate with creative and development teams on the execution of ideas.</p>
                            </li>
                            <li>
                                <h4>UI Developer</h4>
                                <span class="desc">
                                    2011 - 2013 | Envato.
                                </span>
                                <p>Collaborate with creative and development teams on the execution of ideas.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="resume-education">
                        <h3>My Education</h3>
                        <ul>
                            <li>
                                <h4>Master in Arts</h4>
                                <span class="desc">
                                    2006-2008
                                </span>
                                <p>Collaborate with creative and development teams on the execution of ideas.</p>
                            </li>
                            <li>
                                <h4>Art University</h4>
                                <span class="desc">
                                    2006-2008
                                </span>
                                <p>Collaborate with creative and development teams on the execution of ideas.</p>
                            </li>
                            <li>
                                <h4>Art University</h4>
                                <span class="desc">
                                    2006-2008
                                </span>
                                <p>Collaborate with creative and development teams on the execution of ideas.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="resume-skills">
                    <div class="design-skill">
                        <h3>Design Skills</h3>
                        <ul>
                            <li>
                                <h5>Graphic Design</h5>
                                <div class="skill-bar">
                                    <div class="skill-value" style="width: 90%"></div>
                                </div>
                            </li>
                            <li>
                                <h5>Logo Design</h5>
                                <div class="skill-bar">
                                    <div class="skill-value" style="width: 60%"></div>
                                </div>
                            </li>
                            <li>
                                <h5>Logo Design</h5>
                                <div class="skill-bar">
                                    <div class="skill-value" style="width: 90%"></div>
                                </div>
                            </li>
                            <li>
                                <h5>Photoshop & Figma</h5>
                                <div class="skill-bar">
                                    <div class="skill-value" style="width: 80%"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="coding-skill">
                        <h3>Coding Skills</h3>
                        <ul>
                            <li>
                                <h5>RWD</h5>
                                <div class="skill-bar">
                                    <div class="skill-value" style="width: 90%"></div>
                                </div>
                            </li>
                            <li>
                                <h5>Bootstrap</h5>
                                <div class="skill-bar">
                                    <div class="skill-value" style="width: 80%"></div>
                                </div>
                            </li>
                            <li>
                                <h5>Jekyll</h5>
                                <div class="skill-bar">
                                    <div class="skill-value" style="width: 70%"></div>
                                </div>
                            </li>
                            <li>
                                <h5>Javascript</h5>
                                <div class="skill-bar">
                                    <div class="skill-value" style="width: 90%"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--portfolio-->
        <section class="section section-portfolio">
            <div class="container">
                <div class="portfolio-title">
                    <span>PORTFOLIO</span>
                    <h2>MY WORKS</h2>
                    <div class="bar"></div>
                </div>
                <div class="gallery-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/public/images/p1-1.jpg" alt="">
                            <div class="screen">The Wall<br>slideshow</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/public/images/p2-2.jpg" alt="">
                            <div class="screen">The Wall<br>slideshow</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/public/images/p3-3.jpg" alt="">
                            <div class="screen">The Wall<br>slideshow</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/public/images/p4-4.jpg" alt="">
                            <div class="screen">The Wall<br>slideshow</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/public/images/p5-5.jpg" alt="">
                            <div class="screen">The Wall<br>slideshow</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/public/images/p6-6.jpg" alt="">
                            <div class="screen">The Wall<br>slideshow</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/public/images/p7-7.jpg" alt="">
                            <div class="screen">The Wall<br>slideshow</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/public/images/p8-8.jpg" alt="">
                            <div class="screen">The Wall<br>slideshow</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/public/images/p9-9.jpg" alt="">
                            <div class="screen">The Wall<br>slideshow</div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <!--testimonial-->
        <section class="section section-testimonial">
            <div class="container">
                <div class="testimonial-title">
                    <span>KIND WORDS</span>
                    <h2>TESTIMONIAL</h2>
                    <div class="bar"></div>
                </div>
                <div class="testimonial-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/public/images/avatar1.jpg" alt="">
                                <p>
                                    Accusantium, adipisci assumenda culpa esse facere facilis illum magnam modi necessitatibus non omnis quasi qui quidem quos repellendus ullam vel voluptatem! Itaque.
                                </p>
                                <h6>- Anj josebh, Web Develper</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/public/images/avatar1.jpg" alt="">
                                <p>
                                    Accusantium, adipisci assumenda culpa esse facere facilis illum magnam modi necessitatibus non omnis quasi qui quidem quos repellendus ullam vel voluptatem! Itaque.
                                </p>
                                <h6>- Anj josebh, Web Develper</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>
        <!--hire-->
        <section class="section section-hire">
            <div class="black"></div>
            <div class="container">
                <div class="hire-desc">
                    <span>LET'S WORK TOGETHER!</span>
                    <div class="bar"></div>
                    <div class="hire-btn">HIRE ME!</div>
                </div>
            </div>
        </section>
        <!--bolg-->
        <section class="section section-blog">
            <div class="container">
                <div class="blog-title">
                    <span>BLOG</span>
                    <h2>MY ARTICLES</h2>
                    <div class="bar"></div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="box-group">
                                <div class="blog-item">
                                    <div class="blog-thumb">
                                        <img src="/public/images/blog-1.jpg" alt="">
                                        <div class="screen">Alice Joseph<br>2 Mins Read</div>
                                    </div>
                                    <div class="blog-desc">
                                        <span>Lorem ipsum dolor sit amet, consectetur</span>
                                        <h6>Design</h6>
                                    </div>
                                </div>
                                <div class="blog-item">
                                    <div class="blog-thumb">
                                        <img src="/public/images/blog-2.jpg" alt="">
                                        <div class="screen">Alice Joseph<br>2 Mins Read</div>
                                    </div>
                                    <div class="blog-desc">
                                        <span>Lorem ipsum dolor sit amet, consectetur</span>
                                        <h6>Design</h6>
                                    </div>
                                </div>
                                <div class="blog-item">
                                    <div class="blog-thumb">
                                        <img src="/public/images/blog-3.jpg" alt="">
                                        <div class="screen">Alice Joseph<br>2 Mins Read</div>
                                    </div>
                                    <div class="blog-desc">
                                        <span>Lorem ipsum dolor sit amet, consectetur</span>
                                        <h6>Design</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-group">
                                <div class="blog-item">
                                    <div class="blog-thumb">
                                        <img src="/public/images/blog-3.jpg" alt="">
                                        <div class="screen">Alice Joseph<br>2 Mins Read</div>
                                    </div>
                                    <div class="blog-desc">
                                        <span>Lorem ipsum dolor sit amet, consectetur</span>
                                        <h6>Design</h6>
                                    </div>
                                </div>
                                <div class="blog-item">
                                    <div class="blog-thumb">
                                        <img src="/public/images/blog-2.jpg" alt="">
                                        <div class="screen">Alice Joseph<br>2 Mins Read</div>
                                    </div>
                                    <div class="blog-desc">
                                        <span>Lorem ipsum dolor sit amet, consectetur</span>
                                        <h6>Design</h6>
                                    </div>
                                </div>
                                <div class="blog-item">
                                    <div class="blog-thumb">
                                        <img src="/public/images/blog-1.jpg" alt="">
                                        <div class="screen">Alice Joseph<br>2 Mins Read</div>
                                    </div>
                                    <div class="blog-desc">
                                        <span>Lorem ipsum dolor sit amet, consectetur</span>
                                        <h6>Design</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <div class="blog-btn"><a href="#!">VIEW MORE</a></div>
            </div>
        </section>
        <!--contact-->
        <section class="section section-contact">
            <div class="container">
                <div class="contact-title">
                    <span>SAY HELLO</span>
                    <h2>CONTACT</h2>
                    <div class="bar"></div>
                </div>
                <div class="contact-location">
                    <h4>My Location</h4>
                    <div class="map"></div>
                </div>
                <div class="contact-touch">
                    <h4>Get in Touch</h4>
                    <ul>
                        <li>
                            <div class="contact-item">
                                <i class="fa fa-map"></i>
                                <a href="">144 Mangan St, Miami, FL</a>
                                <h6>Address</h6>
                            </div>
                        </li>
                        <li>
                            <div class="contact-item">
                                <i class="fa fa-phone"></i>
                                <a href="">+987 654 3210</a>
                                <h6>Call Us</h6>
                            </div>
                        </li>
                        <li>
                            <div class="contact-item">
                                <i class="fa fa-envelope"></i>
                                <a href="">hello@beingeorge.com</a>
                                <h6>Email Us</h6>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="contact-form">
                    <h4>Contact Form</h4>
                    <div class="name-mail">
                        <input type="name" placeholder="Your Name*">
                        <input type="email" placeholder="Your Email*">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Your Subject...">
                        <input type="comments" class="comments" placeholder="Your message...">
                    </div>
                    <div class="form-btn">
                        <a href="#!">SUBMIT</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            © Justin 2020 | All Right Reserved
        </footer>
        <div class="back-top">T</div>
    </div>
    <%- include('components/header', {title: title, description: description}) %>
</body>
</html>